backEnd/tools/Parameters/test_xml_dtd/Launcher/Parameters_Reference/basic_scheme.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Definition of elements -->
<!ELEMENT ParametersGroup (ParametersGroup* | Parameter*)*>
<!ATTLIST ParametersGroup
	name CDATA #REQUIRED
>
<!ELEMENT Parameter (description? | type? | value? | default_value? | possible_values?)*>
<!ATTLIST Parameter
	name CDATA #REQUIRED
>
<!ELEMENT description (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT default_value (#PCDATA)>
<!ELEMENT possible_values (#PCDATA)>
